.button-container {
  text-align: center;
  width: 250px;
}

.button {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
}

.radio-container {
  padding: 0.5rem 0 0.5rem 0;
}

.radio-label {
  padding: 0.5rem;
}
